USE [SUP]
GO
/****** Object:  StoredProcedure [ml].[usp_UPDATE_oead_student_features]    Script Date: 6/2/2026 4:11:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


--use report

--IF OBJECT_ID('[ml].[usp_UPDATE_oead_student_features]') IS NOT NULL DROP PROCEDURE [ml].usp_UPDATE_oead_student_features;

ALTER PROCEDURE [ml].[usp_UPDATE_oead_student_features] 

/*-- =============================================
Author:		fernando.camacho
Create date: 2026-05-20
Description: Create Jarvis Master Table: [SUP].[ml].[oead_student_features]

EXEC [SUP].[ml].[usp_UPDATE_oead_student_features]

20260520	fernando.camacho	Just created
20260526	fernando.camacho	NULL value to 'U'
20260602	fernando.camacho	Add [language] field

-- =============================================
*/

AS

BEGIN
BEGIN TRY

DECLARE @new_identity uniqueidentifier;
SET @new_identity = NEWID()
				

INSERT INTO SUP.dbo.log_usp (uid,db,name,datetime_log,state, [user]) 
SELECT @new_identity,'SUP','usp_UPDATE_oead_student_features',GETDATE(), 'start',CURRENT_USER ;



SET NOCOUNT ON; 


/* START */

--------------------------------------------------------------------------------
-- PURPOSE
--
-- Incrementally load reservation attendance data, calculate studentHistory,
-- and upsert student features.
--
-- DESIGN NOTES
--
-- 1. classroom_request_id is the true business key.
-- 2. lp2_notification contains duplicate/incorrect rows.
-- 3. Attendance logic:
--      attended = 1 if ANY matching notification exists with:
--          notificationtype_id = 3
--          deleteflag = 1
-- 4. Notification duplicates are intentionally collapsed.
-- 5. UTC is used consistently.
-- 6. MERGE updates modifiedAt only when data changes.
--------------------------------------------------------------------------------

--------------------------------------------------------------------------------
-- STEP 1
-- Get last processed startTime.
--
-- A 6-hour overlap window is intentionally used to protect against:
--   - late arriving rows
--   - replication lag
--   - delayed source updates
--------------------------------------------------------------------------------
PRINT 'STEP 1 - Started';

DECLARE @lastStartTimeUtc datetime2(6);

SET @lastStartTimeUtc = COALESCE(
    (
        SELECT MAX([startTime])
        FROM [LK].[dbo].[oead_reservations_attendance]
    ),
    CAST('2010-01-01 00:00:00' AS datetime2(6))
);

SET @lastStartTimeUtc = DATEADD(HOUR, -6, @lastStartTimeUtc);

--------------------------------------------------------------------------------
-- STEP 2
-- Stage attendance records.
--
-- IMPORTANT:
-- Notification table has duplicate rows.
-- We intentionally collapse notifications into one attendance flag
-- per classroom_request_id.
--------------------------------------------------------------------------------
PRINT 'STEP 2 - Started';

;WITH attendance AS (

    SELECT
          n.[classroom_request_id]
        , CAST(1 AS bit) AS [attended]

    FROM [OEBI_LA].[dbo].[lp2_notification] n

    WHERE n.[notificationtype_id] = 3
      AND n.[deleteflag] = 1

    GROUP BY n.[classroom_request_id]
),

src AS (

    SELECT
          cr.[classroom_request_id]
        , cr.[person_id] AS [studentId]
        , cr.[createddate] AS [reservationDate]
        , sch.[classbegin] AS [startTime]
        , c.[coursesubtype_id] AS [courseSubTypeId]
        , ISNULL(a.[attended], 0) AS [attended]

    FROM [OEBI_LA].[dbo].[lp2_classroom_request] cr

    INNER JOIN [OEBI_LA].[dbo].[lp2_liveclassschedule] sch
        ON sch.[id] = cr.[live_class_schedule_id]

    INNER JOIN [OEBI_LA].[dbo].[lp2_course] c
        ON sch.[course_id] = c.[id]

    LEFT JOIN attendance a
        ON cr.[classroom_request_id] = a.[classroom_request_id]

    WHERE sch.[classbegin] < SYSUTCDATETIME()
      AND sch.[classbegin] > @lastStartTimeUtc
      AND sch.[classbegin] >= DATEADD(DAY, -45, SYSUTCDATETIME())
      AND c.[coursesubtype_id] = 4
)

--------------------------------------------------------------------------------
-- STEP 3
-- Upsert reservations attendance table.
--
-- modifiedAt updates only when business values change.
--------------------------------------------------------------------------------

MERGE [LK].[dbo].[oead_reservations_attendance] AS tgt

USING src

ON tgt.[classroom_request_id] = src.[classroom_request_id]

WHEN MATCHED AND (

       ISNULL(tgt.[studentId], -1)
            <> ISNULL(src.[studentId], -1)

    OR ISNULL(tgt.[reservationDate], '1900-01-01')
            <> ISNULL(src.[reservationDate], '1900-01-01')

    OR ISNULL(tgt.[startTime], '1900-01-01')
            <> ISNULL(src.[startTime], '1900-01-01')

    OR ISNULL(tgt.[courseSubTypeId], -1)
            <> ISNULL(src.[courseSubTypeId], -1)

    OR ISNULL(tgt.[attended], 0)
            <> ISNULL(src.[attended], 0)

)

THEN UPDATE SET

      tgt.[studentId] = src.[studentId]
    , tgt.[reservationDate] = src.[reservationDate]
    , tgt.[startTime] = src.[startTime]
    , tgt.[courseSubTypeId] = src.[courseSubTypeId]
    , tgt.[attended] = src.[attended]
    , tgt.[modifiedAt] = SYSUTCDATETIME()

WHEN NOT MATCHED THEN

    INSERT (
          [classroom_request_id]
        , [studentId]
        , [reservationDate]
        , [startTime]
        , [courseSubTypeId]
        , [attended]
        , [createdAt]
        , [modifiedAt]
    )

    VALUES (
          src.[classroom_request_id]
        , src.[studentId]
        , src.[reservationDate]
        , src.[startTime]
        , src.[courseSubTypeId]
        , src.[attended]
        , SYSUTCDATETIME()
        , SYSUTCDATETIME()
    );

--------------------------------------------------------------------------------
-- STEP 4
-- Calculate rolling 45-day studentHistory metric.
--
-- studentHistory format:
--     reservationBucket-confirmationScore
--
-- Example:
--     2-8
--------------------------------------------------------------------------------
PRINT 'STEP 4 - Started';

;WITH q AS (

    SELECT
          ra.[studentId]
        , COUNT(1) AS [qtyReserved]
        , SUM(CASE WHEN ra.[attended] = 1 THEN 1 ELSE 0 END)
            AS [qtyConfirmed]

    FROM [LK].[dbo].[oead_reservations_attendance] ra

    WHERE ra.[startTime] >= DATEADD(DAY, -45, SYSUTCDATETIME())

    GROUP BY ra.[studentId]
),

src AS (

    SELECT

          q.[studentId]

        , CONCAT(

            CASE
                WHEN [qtyReserved] = 0 THEN 0
                WHEN [qtyReserved] = 1 THEN 1
                WHEN [qtyReserved] <= 5 THEN 2
                WHEN [qtyReserved] <= 10 THEN 3
                ELSE 4
            END,

            '-',

            CAST(

                2 * ROUND(

                    CASE
                        WHEN [qtyReserved] = 0 THEN 0

                        ELSE ROUND(
                            5.0 * [qtyConfirmed] / [qtyReserved],
                            0
                        )
                    END,

                    0

                ) AS INT

            )

        ) AS [studentHistory]

    FROM q
)

--------------------------------------------------------------------------------
-- STEP 5
-- Upsert studentHistory table.
--------------------------------------------------------------------------------


MERGE [SUP].[ml].[oead_student_history] AS tgt

USING src

ON tgt.[studentId] = src.[studentId]

WHEN MATCHED
    AND ISNULL(tgt.[studentHistory], '')
        <> ISNULL(src.[studentHistory], '')

THEN UPDATE SET

      tgt.[studentHistory] = src.[studentHistory]
    , tgt.[modifiedAt] = SYSUTCDATETIME()

WHEN NOT MATCHED THEN

    INSERT (
          [studentId]
        , [studentHistory]
        , [createdAt]
        , [modifiedAt]
    )

    VALUES (
          src.[studentId]
        , src.[studentHistory]
        , SYSUTCDATETIME()
        , SYSUTCDATETIME()
    );


--------------------------------------------------------------------------------
-- STEP 6
-- Upsert student features table.
--
-- enrollment:
--       U : unknown
--     s00 : <= 0 days
--     s02 : <= 2 days
--     s07 : <= 7 days
--     s15 : <= 15 days
--     s31 : <= 31 days
--     s90 : <= 90 days
--     sMx : > 90 days
--
-- ageGroup:
--		 U : unknowns
--     a18 : age <= 18
--     a30 : age <= 30
--     a45 : age <= 45
--     a60 : age <= 60
--     o60 : over 60
--
-- DynamoDB PK strategy:
--     PK = S#<studentId>
--
-- Numeric studentId is preserved for:
--     - analytics
--     - debugging
--     - joins
--     - downstream systems
--------------------------------------------------------------------------------
PRINT 'STEP 6 - Started';

MERGE [SUP].[ml].[oead_student_features] AS tgt

USING (

    SELECT

          ----------------------------------------------------------------------------
          -- DynamoDB-friendly string PK
          ----------------------------------------------------------------------------
          CONCAT(
                'S#',
                CAST(ds.[ext_lp2_person_id] AS varchar(10))
          ) AS [PK]

        ----------------------------------------------------------------------------
        -- Preserve numeric studentId
        ----------------------------------------------------------------------------
        , ds.[ext_lp2_person_id] AS [studentId]

        , ISNULL(ds.[active_level], 255) AS [active_level] -- 255 is Unknown

        , ISNULL(ds.[country_iso], 'XX') AS [country_iso]

        , ds.[Is_B2B__c]

        ----------------------------------------------------------------------------
        -- Normalize gender
        ----------------------------------------------------------------------------
        , CASE
            WHEN ds.[gender] = 'Male' THEN 'M'
            WHEN ds.[gender] = 'Female' THEN 'F'
            ELSE 'U'
          END AS [gender]

        ----------------------------------------------------------------------------
        -- Default missing studentHistory
        ----------------------------------------------------------------------------
        , ISNULL(sh.[studentHistory], '0-0')
            AS [studentHistory]

        ----------------------------------------------------------------------------
        -- enrollment
        ----------------------------------------------------------------------------
        , CASE

            WHEN activationDateParsed IS NULL THEN 'U'

            WHEN deltaDaysFromStart <= 0 THEN 's00'
            WHEN deltaDaysFromStart <= 2 THEN 's02'
            WHEN deltaDaysFromStart <= 7 THEN 's07'
            WHEN deltaDaysFromStart <= 15 THEN 's15'
            WHEN deltaDaysFromStart <= 31 THEN 's31'
            WHEN deltaDaysFromStart <= 90 THEN 's90'

            ELSE 'sMx'

          END AS [enrollment]

        ----------------------------------------------------------------------------
        -- ageGroup
        ----------------------------------------------------------------------------
        , CASE

            WHEN ageYears IS NULL THEN 'U'

            WHEN ageYears <= 18 THEN 'a18'
            WHEN ageYears <= 30 THEN 'a30'
            WHEN ageYears <= 45 THEN 'a45'
            WHEN ageYears <= 60 THEN 'a60'

            ELSE 'o60'

          END AS [ageGroup]

        ----------------------------------------------------------------------------
        -- language
        ----------------------------------------------------------------------------

		, p.[nativelang] AS [language]


    FROM (

        SELECT
              ds.*

            ----------------------------------------------------------------------------
            -- Parse activation_date from yyyyMMdd integer
            ----------------------------------------------------------------------------
            , TRY_CONVERT(
                date,
                CAST(ds.[activation_date] AS varchar(8)),
                112
              ) AS activationDateParsed

            ----------------------------------------------------------------------------
            -- Days since activation
            ----------------------------------------------------------------------------
            , DATEDIFF(
                DAY,
                TRY_CONVERT(
                    date,
                    CAST(ds.[activation_date] AS varchar(8)),
                    112
                ),
                CAST(SYSUTCDATETIME() AS date)
              ) AS deltaDaysFromStart

            ----------------------------------------------------------------------------
            -- Safe age calculation
            ----------------------------------------------------------------------------
            , CASE

                WHEN ds.[birth_date] IS NULL THEN NULL
                WHEN ds.[birth_date] > CAST(SYSUTCDATETIME() AS date)
                    THEN NULL
                WHEN ds.[birth_date] < '1900-01-01'
                    THEN NULL

                ELSE
                    DATEDIFF(
                        YEAR,
                        ds.[birth_date],
                        CAST(SYSUTCDATETIME() AS date)
                    )
                    -
                    CASE
                        WHEN FORMAT(
                                CAST(SYSUTCDATETIME() AS date),
                                'MMdd'
                             )
                             <
                             FORMAT(ds.[birth_date], 'MMdd')
                        THEN 1
                        ELSE 0
                    END

              END AS ageYears

        FROM [DWH].[dbo].[dim_student] ds

        WHERE ds.[organization] = 'Open English'
          AND ds.[ext_lp2_person_id] IS NOT NULL
          AND ds.[is_student] = 1
          AND ds.[active] = 1
          AND ds.[activation_date] IS NOT NULL
          AND ds.[student_status] <> 'Deleted'
          AND ds.[start_time] > @lastStartTimeUtc

    ) ds

	LEFT JOIN [OEBI_LA].[dbo].[lp2_person] p ON ds.[ext_lp2_person_id] = p.[id]

    LEFT JOIN [SUP].[ml].[oead_student_history] sh
        ON ds.[ext_lp2_person_id] = sh.[studentId]

) src

ON tgt.[PK] = src.[PK]

WHEN MATCHED AND (

       ISNULL(tgt.[studentId], -1)
            <> ISNULL(src.[studentId], -1)

    OR ISNULL(tgt.[active_level], 255)
            <> ISNULL(src.[active_level], 255)

    OR ISNULL(tgt.[country_iso], '')
            <> ISNULL(src.[country_iso], '')

    OR ISNULL(tgt.[Is_B2B__c], '')
            <> ISNULL(src.[Is_B2B__c], '')

    OR ISNULL(tgt.[gender], '')
            <> ISNULL(src.[gender], '')

    OR ISNULL(tgt.[studentHistory], '')
            <> ISNULL(src.[studentHistory], '')

    OR ISNULL(tgt.[enrollment], '')
            <> ISNULL(src.[enrollment], '')

    OR ISNULL(tgt.[ageGroup], '')
            <> ISNULL(src.[ageGroup], '')

    OR ISNULL(tgt.[language], '')
            <> ISNULL(src.[language], '')

)

THEN UPDATE SET

      tgt.[studentId] = src.[studentId]
    , tgt.[active_level] = src.[active_level]
    , tgt.[country_iso] = src.[country_iso]
    , tgt.[Is_B2B__c] = src.[Is_B2B__c]
    , tgt.[gender] = src.[gender]
    , tgt.[studentHistory] = src.[studentHistory]
    , tgt.[enrollment] = src.[enrollment]
    , tgt.[ageGroup] = src.[ageGroup]
    , tgt.[language] = src.[language]
    , tgt.[modifiedAt] = SYSUTCDATETIME()

WHEN NOT MATCHED THEN

    INSERT (
          [PK]
        , [studentId]
        , [active_level]
        , [country_iso]
        , [Is_B2B__c]
        , [gender]
        , [studentHistory]
        , [enrollment]
        , [ageGroup]
        , [language]
        , [createdAt]
        , [modifiedAt]
    )

    VALUES (
          src.[PK]
        , src.[studentId]
        , src.[active_level]
        , src.[country_iso]
        , src.[Is_B2B__c]
        , src.[gender]
        , src.[studentHistory]
        , src.[enrollment]
        , src.[ageGroup]
        , src.[language]
        , SYSUTCDATETIME()
        , SYSUTCDATETIME()
    );

PRINT 'FINISH';

--------------------------------------------------------------------------------
-- RECOMMENDED INDEXES
--------------------------------------------------------------------------------

-- Reservations table:
-- CREATE INDEX IX_ra_studentId_startTime
-- ON [LK].[dbo].[oead_reservations_attendance]
-- (
--     [studentId],
--     [startTime]
-- )
-- INCLUDE ([attended]);

-- Student history table:
-- CREATE UNIQUE INDEX IX_stuH_studentId
-- ON [SUP].[ml].[oead_student_history]([studentId]);

-- Student features:
-- CREATE UNIQUE INDEX IX_sf_personId
-- ON SUP].[ml].[oead_student_features]
-- (
--     [ext_lp2_person_id]
-- );


/*  END  */



INSERT INTO SUP.dbo.log_usp (uid,db,name,datetime_log,state, [user]) 
SELECT @new_identity,'SUP','usp_UPDATE_oead_student_features',GETDATE(), 'end',CURRENT_USER ;
	
END TRY

BEGIN CATCH
		
INSERT INTO SUP.dbo.main_error_log
(MainSource
,Createddate
,ErrorNumber
,ErrorSeverity
,ErrorState
,ErrorProcedure
,ErrorLine
,ErrorMessage)
SELECT 
'usp_UPDATE_oead_student_features'
,GETDATE() AS Createddate
,ERROR_NUMBER() AS ErrorNumber
,ERROR_SEVERITY() AS ErrorSeverity
,ERROR_STATE() AS ErrorState
,ERROR_PROCEDURE() AS ErrorProcedure
,ERROR_LINE() AS ErrorLine
,ERROR_MESSAGE() AS ErrorMessage;

END CATCH

END;
